button.nav-link{
    border-radius: 0;
    
    &:focus{
        outline: none !important;
    }
    &:active{
        outline: none !important;
    }
    &.active:focus{
        outline: none !important;
    }
}