<ngb-carousel>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="assets/images/hero1.jpg" style="display: block;width: 100%;" alt="Random first slide">
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="assets/images/hero1.jpg" style="display: block;width: 100%;" alt="Random first slide">
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="assets/images/hero1.jpg" style="display: block;width: 100%;" alt="Random first slide">
        </div>
    </ng-template>
</ngb-carousel>
<section class="featured">
    <div class="d-flex justify-content-center pt-4">
        <h1>MavEC'ye Hoşgeldiniz</h1>
    </div>
</section>